html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 80%, rgba(8, 8, 8, 0.8) 100%);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--text-color);
  min-height: 100vh;
  --card-color: rgb(14, 14, 14);
  --card-gradient: linear-gradient(180deg, rgba(110, 110, 110, 0.523) 0%, rgba(216,214,214,0.4556197478991597) 54%);
  --nav-bg: rgba(8, 8, 8, 0.8);
  --nav-bg-ff: rgba(8, 8, 8, 0.8);
  --borders: rgb(51, 72, 141) solid 1px;
  --text-color: rgb(212, 212, 212);
  --link-hover-color: rgb(139, 169, 190);
  --button-bg: rgb(8, 8, 8, 0.8);
  --button-bg-hover: rgb(95, 95, 95);
  --submit: rgb(103, 184, 83);
  --warn: rgb(83, 147, 184);
  --danger: rgb(226, 71, 71);
  --secondary: rgb(57, 57, 57);
  --card-box-shadow: 5px 5px 6px -1px rgb(39, 39, 39);
  --font-xtreme: 4.2rem;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;
  --font-m: 1.5rem;
  --font-sm: 1.4rem;
  --card-border-radius: 6px;
  --letter-spacing-m: 0.5px;
  --letter-spacing-l: 0.8px;
}

header {
  width: 100%;
  background: var(--nav-bg-ff);
  border-bottom: var(--borders);
}

nav {
  margin: 10px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  width: 100%;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: var(--font-reg);
  letter-spacing: var(--letter-spacing-m);
}

nav a:hover {
  color: var(--link-hover-color);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  padding: 5px 10px;
}

.header-title-container {
  margin: auto;
  color: var(--text-color);
  /* padding: 10px 20px 0; */
  max-width: 500px;
}

.header-title {
  text-align: center;
}

.page-header {
  display: flex;
  align-items: center;
  margin: 20px;
}

h2 {
  font-size: var(--font-m);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-m);
}

.btn {
  font-size: var(--font-m);
  padding: 5px 10px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-m);
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

input, textarea {
  background-color: var(--text-color);
  border: var(--borders);
}

input:focus, textarea:focus {
  outline: none;
  border: rgb(103, 184, 83) solid 2px;
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

.submit {
  color: var(--submit);
  border-color: var(--submit);
}

.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.warn {
  color: var(--warn);
  border-color: var(--warn);
}

.danger {
  color: var(--danger);
  border-color: var(--danger);
}

.page-header h1 {
  font-size: var(--font-xxl);
  margin: 0;
}

@media only screen and (min-width: 768px) {
  header {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    align-items: center;
    justify-content: center;
  }

  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  nav,
  .header-title-container {
    margin: 10px auto;
    padding: 0 15px;
    
  }

  /* visual fix to help align logo */
  .header-title-container {
    padding-top: 3px;
  }

  nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  nav ul {
    flex-wrap: nowrap;
  }

  .header-logo-container {
    width: 213px;
  }

  .page-header h1 {
    font-size: var(--font-xtreme);
  }
  
  .page-header img {
    height: 50px;
    margin-left:20px;
  }
  
  .page-header img:first-of-type {
    margin-left: 25px;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      background: var(--nav-bg);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
  }
}

@media only screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 55px);
  }
  
  /* header {
    margin: 20px 20px 0 20px;
    width: calc(100vw - 40px);
    max-width: 1920px;
    top: 20px;
    background-color: transparent;
    border-bottom: none;
  }

  nav,
  .header-title-container {
    margin: 0;
    background: var(--nav-bg-ff);
    border: var(--borders);
    border-radius: 6px;
  }

  nav {
    margin-left: auto;
  }

  .header-title-container {
    width: 256px;
    height: 30px;
    text-align: center;
  } */

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }

    nav,
    .header-title-container {
      /* background: rgba(104, 197, 248, .6); */
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }

    .header-title-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}