{% extends 'base.html' %}
{% load static %}

{% block head %}
{% comment %} <script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
> {% endcomment %}
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/project-detail.css' %}"
/>
<script defer src="{% static 'js/project-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="project-container">
  <div class="project-details">
    <h1>{{ project.name }}</h1>
    <p>Description: {{ project.description }}</p>
    <div class="project-actions">
      <a href="{% url 'projects_update' project.id %}" class="btn warn">Edit</a>
      <a href="{% url 'projects_delete' project.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<section class="task-container">
  <div class="task-details">
    <div class="add-task-container">
      <h3>Add a Task</h3>
        <form
        action="{% url 'add_task' project.id %}"
        method='post'
        class='subsection-content'
        autocomplete='off'
        >
        {% csrf_token %}
        {{ task_form.as_p }}
        <button type="submit" class="btn submit">Add Task</button>
      </div>
      </form>
      <h3>Current tasks</h3>
      {% if project.task_set.all.count %}
      <table>
        <thead>
          <tr><th>Details</th><th>Priority</th><th>Status</th></tr>
        </thead>
        <tbody>
          {% for task in project.task_set.all %}
            <tr>
              <td>{{task.details}}</td>
              <td>{{task.priority}}</td>
              <td><input type="checkbox" id="accept"> Completed</td>
              
              {% comment %} <td>{{task.get_date_display}}</td> {% endcomment %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3 class="subsection-content">{{project.name}} has no tasks</h3>
      {% endif %}
  </div>
  </section>
{% endblock %}