{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  
</section>

<section class="card-container">
  {% for project in projects %}
    <div class="card">
      <a href="{% url 'projects_detail' project.id %}">
        <div class="card-content">
          <h2 class="card-title">{{ project.name }}</h2>
          <p><small>{{ project.description }}</small></p>
        </div>
      </a>  
    </div>
  {% endfor %}
</section>

{% endblock %}